/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset css end*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@500;900&display=swap');

body   {
    font-family: 'Noto Sans TC normal', sans-serif;
	line-height: 1.5;
}

body::-webkit-scrollbar {
    display: none;
}

*,*::before,*::after{
    box-sizing: border-box;
  }

a{
    text-decoration: none;
}

h1{
    font-size: 36px;
    line-height: 1.8;
    font-family: 'Noto Sans TC medium';
}

h2{
    font-size: 28px;
}
@media (max-width:375px){
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
}


h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

.color1{
    color: #907A7B;
}

.color2{
    color: #C0A4A5;
}

.color3 {
    color: #707070;
}

.colorwhite {
    color: #FFFFFF;
}

.pt-1{
    padding-top: 16px;
}
.pt-2{
    padding-top: 32px;
}
.pt-3{
    padding-top: 40px;
}


.pb-1{
    padding-bottom: 16px;
}
.pb-2{
    padding-bottom: 32px;
}
.pb-3{
    padding-bottom: 40px;
}
.pb-4{
     padding-bottom: 64px;
}
@media(max-width:375px){
    .pb-4{
        padding-bottom: 48px;
    }
}

.mt-1{
    margin-top: 16px;
}
.textalignCenter{
    text-align: center;
}
header{
    background-color: #F5F0E7;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}
@media (max-width:768px){
    .container{
        max-width: 690px;
    }
}

@media (max-width:375px){
    .container{
        max-width: 95%;
    }
}

header .container{
    padding: 28px 20px;
    display: flex;
    justify-content: space-between;
}


.logo   {
    width: 96px;
    height: 31px;
    display: block;
    margin: auto 0;
    background-image: url(../images/DOYOGA-logo.png);
    background-position: center;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.menu,.menubtn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu li,.menubtn li{
    padding: 8px 16px;
}

.menu li a{
    color: #707070;
}

.menubtn li a{
    display: block;
    border:1px #907A7B solid;
    border-radius: 16px;
    padding: 8px 16px;
    color: #907A7B;
}

.mobilemenubtn{
    display: none;
    color: #907A7B;
    font-size: 33px;
}

@media (max-width:768px){
    .menu,.menubtn{
        display: none;
    }
    .mobilemenubtn{
        display: flex;
    }
}

/*nav end*/

.banner{
    background-image: url(../images/BannerImage.jpeg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 185px 0;
    color: #707070;
}

@media (max-width:768px){
    .banner{
       background-position:center;
       background-size: cover;
    }
}

.bannerContent{
    margin-left: 80px;
}

@media (max-width:768px){
    .bannerContent{
       margin-left: 20px;;
    }
}


.bannersubtitle{
    font-size: 24px;
}

.bannerbtn {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.btn{
    display: block;
    background-color: #C0A4A5;
    border-radius: 4.8px;
    font-size: 20px;
    padding: 8px 16px;
    margin-right: 8px;
    color: #FFFFFF;
}

.highlight{
    background-color: #F5F0E7;
    color: #707070;
}

.categoryContent{
    display: flex;
    justify-content: space-between;
}

.categoryContent li{
    width: 32%;
    height: 420px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    padding: 24px;
}

@media (max-width:768px){
    .categoryContent li{
        height: 252px;
    }
}

@media (max-width:375px){
    .categoryContent {
        flex-direction: column;
    }
    .categoryContent li{
        margin-bottom: 16px;
        width: 100%;
        height: 420px;
    }
}

.categoryContent li h3,.categoryContent li p{
    color: #FFFFFF;
}

.categoryCardWholeBody{
    background-image: url(../images/categoryCardWholeBody.jpeg);
}

.categoryCardRelax{
    background-image: url(../images/categoryCardRelax.jpeg);
}

.categoryCardPart{
    background-image: url(../images/categoryCardPart.jpeg);
}

.lightyellowbackground{
    background-color: #F5F0E7;
}
.twocolumn{
    display: flex;
    justify-content: space-between;
}


.tutorMainimg{
    width: 540px;
    height: 628px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 30px;
}
@media (max-width:768px){
    .tutorMainimg{
        display: none;
    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:768px){
    .mobileAlignItemCenter{
        align-items: center;
    }
}
.tutorCardList{
    display: flex;
    flex-direction: column;
}

.tutorCard{
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    margin-top: 16px;
    vertical-align: middle;
}
.propic{
    margin-right: 20px;
}

.tutorCardlarge{
    margin-left: -16%;
}

@media (max-width:768px){
    .tutorMainimg{
        display: none;
    }
    .mobilecentertitle{
        text-align: center;
    }
    .tutorCardList{
        width: 570px;
        align-self: flex-end;
    }
}

@media (max-width:375px){

    .tutorCardList{
        width: 100%;
    }
    .tutorCardlarge{
        margin-left: 0%;
    }
}


.enviromentLargeImg{
    width: 350px;
    height: 444px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 30px;
}

.smallImgColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enviromentSmallImg{
    width: 160px;
    height: 207px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 30px;
}

.imgtwocolumn{
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px){
    .enviromentLargeImg{
        width: 210px;
        height: 266px;
    }
    .enviromentSmallImg{
        width: 90px;
        height: 117px;
    }
}

@media (max-width:375px){
    .twocolumn  {
        flex-direction: column;
    }
    .imgtwocolumn{
        padding-top: 16px;
        display: flex;
        flex-direction: row;
    }
    .environment .twocolumn{
        flex-direction: column-reverse;
    }
    .smallImgColumn{
        flex-direction: unset;
    }
    .enviromentLargeImg,.enviromentSmallImg{
        width: 90%;
        height: 210px;
        margin-right: 16px;
    }
    .mobileDFisplaynone{
        display: none;
    }
}

.contentLink{
    color: #907A7B;
}
.material-icons{
    vertical-align:top;
}

.classImgScroller{
    width: 445px;
    height: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    white-space:nowrap;
}

.classImgScroller img{
    width: 445px;
    height: 445px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 30px;
}

@media (max-width:768px){
    .classImgScroller{
        width: 324px;
        height: 324px;
        margin-left: 30px;
        overflow-y:unset;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    .classImgScroller img{
        width: 150px;
        height: 150px;
    }
    .yogaclass .content{
        width: 50%;
    }
}

@media (max-width:375px){
    .yogaclass .content{
        width: 100%;
    }
    .classImgScroller{
        width: 97%;
        height: 345px;
        margin-top: 16px;
        margin-left: 0px;
    }
    .classImgScroller img{
        width: 45%;
        height: 45%;
        margin-right:0px;
    }
}


.planlist{
    display: flex;
    justify-content: space-between;
}

.planCard{
    border: #C0A4A5 solid 1px;
    border-radius: 16px;
    width: 350px;
    overflow: hidden;
}

.planImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.planCardbody{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planbtn{
    text-align: center;
    align-self:normal;
}

@media (max-width:768px){
    .planlist{
        flex-direction: column;
    }
    .planCard{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 24px;
    }
    .planImg {
        height:238px;
    }
    .planCardbody{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }
}

@media (max-width:375px){
    .planCard{
        flex-direction: column;
    }
    .planCardbody{

        align-items:center;
    }
}

.recommendationList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recommendationtop h3,.recommendationtop h4{
    display: inline;
}
.recommendationCard{
    width: 350px;
    border-radius: 16px;
    align-items: center;
    background: #ffffff;
    padding: 14px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.star{
    padding: 5px 0;
}

@media (max-width:768px){
    .recommendationList{
        width: auto;
        height: 280px;
        overflow-y: hidden;
        display: flex;
        flex-wrap: wrap;
        white-space:nowrap;
    }
    .recommendationCard{
        width: 330px;
    }
}
@media (max-width:375px){
    .recommendationList{
        height: 400px;
    }
    .recommendationCard{
        margin-bottom: 8px;
    }
}


.footer{
    background-color: #907A7B;
}

.topfooter{
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
}
@media (max-width:768px){
    .topfooter{
        flex-direction: column;
    }
    .enewslettergroup{
        margin-top: 8px;
    }
}
.enewslettergroup{
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.btnsubscribe{
    border: 0px;
    padding: 8px 16px;
    color: #FFFFFF;
    background-color: #C0A4A5;
	font-size: 20px;
	text-align: center;
	display: block;
}

.emailinput{
    padding: 8px 16px;
    font-size: 20px;
    color: #907A7B;
    border: 0px;
    border-radius: 4px 0 0 4px;
    outline:none
}

@media (max-width:375px){
    .emailinput{
        padding:0 12px;
    }
}

.footerline {
    display: block;
    border: 1px solid #FFFFFF;
}

.bottomfooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footermenu li{
    padding: 4px 0;
}

.footermenu li a,.socialmedia li a{
    color: #FFFFFF;
}

.whitelogo{
    background-image: url(../images/DOYOGA-white.png);
}
.socialmedia{
    align-self: flex-start;
    display: flex;
}

.socialmedia li{
    padding: 0 4px;
}

.fab{
    font-size:24px;
}

@media (max-width:375px){
    .bottomfooter{
        position: relative;
    }
    .TandC{
        position: absolute;
        top:155px;
    }
}